# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.qsys_edit/

db/

lab2.qpf

lab2.qsf

lab2Arc.sopcinfo

lab2Arc/

de1_soc.qsf

lab2.qsf.bak

lab2.vhd.bak

c5_pin_model_dump.txt

incremental_db/compiled_partitions/

incremental_db/README

output_files/

.metadata/

RemoteSystemsTempFiles/

software/lab2/.cproject

software/lab2/.project

software/lab2/.settings/

software/lab2/create-this-app

software/lab2/Makefile

software/lab2/readme.txt

software/lab2_bsp/

software/lab2/lab2.objdump

lab2.qws

software/lab2/.force_relink

software/lab2/obj/default/.force_relink

*.qpf

*.qsf

*.bak

*.qws

projetArc.sopcinfo

projetArc/

software/prog_projet/.cproject

software/prog_projet/.project

software/prog_projet/.settings/

software/prog_projet/create-this-app

software/prog_projet/Makefile

*.objdump

*.txt

software/prog_projet_bsp/

software/prog_projet/.vs/prog_projet/v16/

software/prog_projet/.vs/
